<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.visualligence.com/g/VML" 
       class = "com.visualligence.g.vML.VMLPackage"
       genModel = "com/visualligence/g/VML.genmodel" /> 
	
  </extension>





</plugin>
